GoogleNews==1.6.7
googlesearch_python==1.2.3
pydantic~=1.10.4
transformers~=4.27.0
sentence-transformers>=2.2.2
langchain~=0.0.188
llama-index==0.6.16.post1
numpy~=1.23.5
protobuf<=3.2.0
python-dotenv>=1.0.0
PyYAML==6.0
trafilatura~=1.5.0
tqdm
requests